@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


// --------------------------------------------------------------------------------------

%hoverAnimation {
    color: #ada074;
    transition: .4s;
}

.container {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.wrapper {
    width: 1120px;
    margin: 0px auto;
    overflow: hidden;
}


.header {
    width: 1920px;
    height: 1080px;
    background-image: url('https://i.imgur.com/l5qWyh6.png');
    display: flex;
    flex-direction: column;
    text-align: center;
    & img {
        margin: 165px 0 160px 0;
    }
    &__title {
        color: #fff;
        margin: 0 0 25px 0;
    }
    &__subtitle {
        color: #fff;
        font-size: 26pt;
        font-family: 'Lato', sans-serif;
        letter-spacing: 3px;
        position: relative;
        margin: 0 0 280px 0;
        &:after {
            content: "";
            background-color: #fff;
            position: absolute;
            left: 45%;
            bottom: 0;
            height: 1px;
            width: 105px;
            display: block;
            margin: 0 0 -25px 0;
        }
    }
}

.title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 34pt;
    letter-spacing: 2px;
}

.button {
    font-size: 15px;
    border: #fff solid 1px;
    padding: 15px 40px;
    width: 182px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    letter-spacing: 1px;
    margin: 0 auto;
    &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #516f8b;
        transition: .5s;
    }
}

#arrow {
    margin: 75px 0 0 0;
}


.nav {
    font-family: 'Lato', sans-serif;
    border-bottom: #f2f2f2 solid 1px;
    width: 1920px;
    letter-spacing: 1px;
    & ul {
        display: flex;
        width: 500px;
        justify-content: space-between;
        margin: 0 auto;
        padding: 25px;
        li>a:hover {
            @extend %hoverAnimation;
        }
    }
    & a {
        color: #000;
    }
    & a:visited {
        color: #000;
    }
}




// --------------------------------------------

.about {
    text-align: center;
    font-family: 'Lato', sans-serif;
    &__title {
        margin: 130px 0 75px 0;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 45%;
            bottom: 0;
            background-color: #000;
            width: 105px;
            height: 1px;
            margin: 0 0 -25px 0;
        }
    }
    &__text {
        max-width: 688px;
        color: #868585;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        line-height: 25.89px;
        margin: 70px auto;
    }
    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 0 100px 0;
        
    }
    &__column {
        flex: 0 0 33.333%;
    }
}

.item-about {
    &__icon {
        margin: 0 auto;
        border-radius: 50%;
        border: 2px solid #f1f1f1;
        width: 92px;
        height: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        color: #868585;
        line-height: 25px;
        font-size: 14px;
        margin: 0 auto;
        width: 235px;
        height: 80px;
    } 

    &__title {
        font-size: 22px;
        margin: 40px 0 35px 0;
    }

}




.portfolio {
    background-color: #f3f3f3;
    width: 1920px;
    height: 1670px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    &__title {
        margin: 100px 0 92px 0;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 45%;
            bottom: 0;
            background-color: #000;
            width: 105px;
            height: 1px;
            margin: 0 0 -40px 0;
    }
    }
    &__links {
        margin: 0 0 135px 0;
        ul {
            display: flex;
            margin: 0 auto;
            width: 290px;
            justify-content: space-between;
            li:hover {
                @extend %hoverAnimation;
            }
        }
    }
    &__read-more {
        border-color: #000;
        color: #000;
        &:hover {
            background-color: #000;
            color:#f3f3f3;
        }
    }
    &__container {
        height: 1125px;
        width: 1120px;
        display: flex;
        flex-direction: column;
        margin: 0 0 65px 0;
    }
    &__block {
            background-color: #eaeaea;
            width: 540px;
            height: 360px;
            font-size: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            &>a {
                color: #000;
                display: none;
            }
            &>a:visited {
                color: #000;
                display: none;
            }
            &:hover>a {
                display: block;
            }
    }
    &__row {
            height: 360px;
            display: flex;
            justify-content: space-between;
            margin: 0 0 20px 0;
    }
}


.partners {
    background-image: url('https://i.imgur.com/7m3F3EW.png');
    width: 1920px;
    height: 388px;
    display: flex;
    align-items: center;
    &__title {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-align: center;
        color: #fff;
        font-size: 30.36pt;
        margin: 0 0 100px 0;
    }
    &__container {
        margin: 0 auto;
        width: 585px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

#img1 {
    width: 35px;
    height: 47px;
}

#img2 {
    width: 52px;
    height: 62px;
}

#img3 {
    width: 53px;
    height: 63px;
}

#img4 {
    width: 111px;
    height: 40px;
}

.footer {
    background-color: #3c3c3c;
    width: 1920px;
    height: 275px;
    padding: 50px;
    font-family: 'Lato', sans-serif;
    &__container {
        width: 385px;
        margin: 0 auto;
        text-align: center;
    }
    &__row {
        margin: 40px 0 0 0;
        ul {
            display: flex;
            width: 385px;
            justify-content: space-between;
            font-weight: 400;
            font-size: 14pt;
            & li>a {
                color: #8a8a8a;
            }
            & li>a:visited {
                color: #8a8a8a;
            }
        }
    }
    &__subtitle {
        color: #6c6c6c;
        font-size: 14pt;
        margin: 50px 0 0 0;
    }
}